# Entornos virtuales
venv/
.venv/

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de log
logs/
*.log

# Cachés de Python
**/__pycache__/

# Base de datos SQLite
*.sqlite3

# Archivos específicos del sistema
.DS_Store
